@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #152935;
  --blue: #698ea2;
  --orange: #e4a576;
  --gray: #ccd5d2;
  --peach: #fde5d6;
}

body {
  background-color: #ffffff;
  color: #152935;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
